.topten-article-container {
    width: 100%;
    height: 100%;

    .topten-article-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 24px;

        h1 {
            width: 100%;
            text-align: start;
            letter-spacing: 0.3em;
            color: var(--whiteColor);
            font-size: 2em;
            margin: 0 0 25px 0;
            border-bottom: 3px solid var(--mainColor);
        }

        .topten-article-content-wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (min-width:320px) and (max-width:482px) {
    .topten-article-container { 
        padding: 25px 0 0 0;
        .topten-article-wrap {
            padding: 12px;
    
            h1 {
                font-size: 1em;
                letter-spacing: 0.2em;
            }
    
            .topten-article-content-wrap {
              
            }
        }
    }
}