.article-card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
    min-height: 389px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #000;
    margin: 15px;
    background: #000;
    color: var(--mainColor);
    transition: 0.3s all ease-in;
    cursor: pointer;

    &:hover {
        background: var(--mainColor);
        color: #fff;
    }

    &:hover .article-card-image > .article-book-icon {
        display: flex;
    }

    .article-card-image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: 0.3s all ease-in;

        img {
            width: 100%;
            height: 200px;
            border-radius: 4px 4px 0 0;
            transition: 0.3s all ease-in;
        }

        .article-book-icon {
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            background: #0009;
            color: #fff;
            font-size: 2.2em;
            width: 100%;
            height: 100%;
            transition: 0.3s all ease-in;
        }
    }

    .article-card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 12px;
        width: 100%;

        h3 {
            margin: 10px 0;
        }

        p {
            margin: 0 0 7px 0;
        }

        span {
            width: 100%;
            text-align: end;
        }
    }
}

@media only screen and (min-width:321px) and (max-width:482px) {
    .article-card-box {
        width: 45%;
        min-height: 200px;
        margin: 5px;

        .article-card-image {
            img {
                width: 100%;
                height: 100%;
            }
        } 

        .article-card-content {
            padding: 10px;
    
            h3 {
                font-size: 14px;
                margin: 5px 0;
            }
    
            p {
                font-size: 12px;
                margin: 0 0 5px 0;
                padding: 0;
            }
    
            span {
                font-size: 12px;
                width: 100%;
                text-align: end;
            }
        }
    }
}