@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

:root {
  --fontText : 'Prompt', sans-serif;
  --mainColor : #FF1B76;
  --whiteColor : #FFF9FB;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body  {
  font-family: var(--fontText);
  background: #ededed;
}

button {
  font-family: var(--fontText);
}